<a class="fitting-range__anchor" href="#" data-modalanchor>{{anchortext}}</a>

<div class="modal fade fitting-range__modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<button type="button" class="fitting-range__modal__close-button" data-dismiss="modal" aria-label="Close">
      		<span aria-hidden="true">&times;</span>
    		</button>

				<div class="flexslider h-carousel">
					<ul class="slides"></ul>
				</div>
			</div>
		</div>
	</div>
</div>